.footer {
    width: 85%;
    padding: 1rem 2rem;
    overflow: hidden;
    margin: 2rem auto 0 auto;
    @include flexbox(column, space-between, center);


    
    @include responsive(medium) {
        @include flexbox(row, space-between, center);

    }

    &-credits {
        text-transform: uppercase;
        font-size: 1.6rem;
        text-align: center;
    }

    &-links {
        @include flexbox(row, space-between, center);
        width: 70%;
        max-width: 23rem;
        margin-top: 1rem;
    }
}