.round {

    &-link, &-icon {
        @include flexbox(row, center, center);
        border-radius: 50%;
        background-color: $primary;
        aspect-ratio: 1;


        img {
            object-fit: cover;
            width: 2rem;
        }
    }

    &-link {
        width: 5rem;
        transition: all 200ms ease-in-out;
        border: 1px solid transparent;

        &:hover {
            transform: scale(1.2)!important;
            box-shadow: 0 0 5px 2px rgba($color: $primary, $alpha: 0.5);
            border: 1px solid white;
        }

        &:active {
            transform: scale(1);
            box-shadow: none;
        }
    }

    &-icon {
        width: 3rem;
        margin-top: 1.8rem;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}